body {
    font-family: sans-serif;
}

p {
    color: rgb(59, 46, 30);
}

#logo {
    max-height: 3%;
}

.hrVertikal {
    margin-top: 0;
    margin-bottom: 0;
}

select,
input {
    background-color: rgba(145, 115, 51, 0.226);
    border-radius: 3px;
    border: 1px solid black;
}

.Mainmenu a {
    text-decoration: none;
    color: rgb(78, 53, 16);
    margin: 10px;
    font-size: 25px;
}

#createPDFButton {
    color: rgb(0, 0, 0);
    background-color: beige;
    font-size: 25px;
    border-color: rgb(104, 72, 24);
    border-radius: 8px;
}

.Mainmenu {
    background-color: rgba(97, 67, 10, 0.466);
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    min-width: 820px;
    border-radius: 5px;
}

.Rooms {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    gap: 5px;
    height:auto;
    min-width: 820px;
}

#rooms {
    background-color: rgba(145, 115, 51, 0.226);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    border-color: black;
    border-radius: 5px;
    width: 15%;
}

.SitemenuRooms,
.SitemenuPDF {
    background-color: rgba(145, 115, 51, 0.226);
    padding: 10px;
    text-align: center;
    min-width: 820px;
    height: 80px;
    color: rgb(109, 74, 23);
    border-radius: 5px;
}

.SitemenuDashboard {
    display: grid;
    grid-template-columns: 0.9fr 0.4fr 1fr 0.4fr 0.8fr 0.4fr 0.6fr 0.4fr;
    /* Erstellt 3 Spalten */
    grid-template-rows: repeat(2, auto);
    /* Erstellt 4 Zeilen */
    gap: 10px;
    /* Setzt den Abstand zwischen den Grid-Items */
    padding: 10px;
    background-color: rgba(145, 115, 51, 0.226);
    padding: 10px;
    min-width: 820px;
    height: 80px;
    color: rgb(109, 74, 23);
    border-radius: 5px;
}

.SitemenuDashboard label {
    margin: 5px;
}

.SitemenuDashboard input {
    max-width: 45px !important;
    max-height: 20px !important;
    margin: 5px !important;
    border-radius: 4px;
}

.SitemenuRooms span {
    font-size: 200%;
    color: rgb(109, 74, 23);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.charts {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
}

.canvasBox {
    background-color: rgb(245, 244, 244);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
}

.canvasDivRooms {
    width: 24%;
    height: auto;
    min-width: 400px;
}

.canvasDivPDF {
    width: 55%;
    height: 20%;
    min-width: 400px;
    margin: 5px;
}

.canvas {
    width: 100%;
    height: 100%;
}

.pdfheader {
    background-color: rgba(145, 115, 51, 0.226);
    gap: 10px;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
}

.pdfViewer {
    padding: 20px;
    gap: 15px;
    margin: 5px;
    background-color: rgb(245, 244, 244);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}



.a4-container {
    width: 794px;
    height: 1123px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    background-color: white;

}

.pdfInfoDiv {
    display: flex;
    gap: 200px;
    padding: 20px;
    margin: 0px;
    background-color: rgba(145, 115, 51, 0.226);
    border-radius: 10px;
}

.roomSelect {
    color: rgb(138, 92, 32);
}

.roomSelect:hover {
    color: rgb(170, 133, 11);
    font-size: 130%;
    cursor: pointer;
}

.Projectblock {
    background-color: rgb(245, 244, 244);
    padding: 10px;
    border: solid 1px #000000;
    border-radius: 5px;
    margin-bottom: 10px;
}

.Projectblock p {
    font-size: xx-large;
    margin: 5px;
}

.Projectblock:hover {
    background-color: rgb(231, 229, 229);
    cursor: pointer;
}

.statistics {
    display: grid;
    grid-template-columns: 1fr 0.7fr 1fr 0.15fr 1fr 0.15fr;
    /* Erstellt 3 Spalten */
    grid-template-rows: repeat(2, auto);
    /* Erstellt 4 Zeilen */
    gap: 10px;
    /* Setzt den Abstand zwischen den Grid-Items */
    padding: 10px;
}

.statistics p {
    background-color: rgba(102, 83, 42, 0.144);
    font-size: larger;
}

#Dashboard {
    min-width: 840px;
}

.alertlist {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.alerttable {
    width: 100%;
    border-collapse: separate;
}
th,
td {
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}

.high-value-column {
    background-color: rgba(255, 0, 0, 0.408);
    
}

.low-value-column {
    background-color: rgba(255, 167, 4, 0.623);
}